OPERATOR_ID=0.0.xxxxx
OPERATOR_KEY=xxxxx
TOPIC_ID=0.0.xxxxx
NETWORK=testnet
COMPLIANCE_CONTRACT_ID=0.0.xxxxx
MIRROR_BASE=https://testnet.mirrornode.hedera.com/api/v1

KMS_PROVIDER=mock
GCP_PROJECT_ID=my-gcp-project
GCP_LOCATION_ID=europe-west1
GCP_KEY_RING=traceability-ring
GCP_KEY_NAME=traceability-key

JWT_SECRET=supersecretdevkey
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

PINATA_API_URL=https://testnet.pinata.cloud
PINATA_API_KEY=xxxxx
PINATA_API_SECRET=xxxxx
